<!--
<mat-drawer-container class="example-container" autosize fullscreen>
  <mat-drawer #drawer class="example-sidenav" mode="side" color="primary">
    <div *ngIf="admin === false && authenticated === false">
      <button mat-button><a routerLink="">Home</a></button>
      <br/>
      <button mat-button><a routerLink="/login">Login</a></button>
      <br/>
      <button mat-button ><a routerLink="/signup">Signup</a></button>
      <br/>
      <button mat-button><a routerLink="/list">Listings</a></button>
    </div>
    <div *ngIf="admin === false && authenticated === true">
      <button mat-button><a routerLink="">Home</a></button>
      <br/>
      <button mat-button (click)="logout()">Logout</button>
      <br/>
      <button mat-button><a routerLink="/list">Listings</a></button>
      <br/>
      <button mat-button><a routerLink="/history">History</a></button>
    </div>
    <div *ngIf="admin === true && authenticated === true">
      <button mat-button><a routerLink="">Home</a></button>
      <br/>
      <button mat-button (click)="logout()">Logout</button>
      <br/>
      <button mat-button><a routerLink="/list">Listings</a></button>
      <br/>
      <button mat-button><a routerLink="/history">History</a></button>
      <br/>
      <button mat-button><a routerLink="/admin">Admin</a></button>
    </div>
  </mat-drawer>

  <mat-drawer-content>
    <div class="example-sidenav-content">
      <button class="example-sidenav-toggle" type="button" mat-button (click)="drawer.toggle()" color="primary">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <router-outlet></router-outlet>
  </mat-drawer-content>

</mat-drawer-container>
-->

<app-navbar></app-navbar>
<router-outlet></router-outlet>
